.authContainer{
    background-color: #FEAF00;
    height: 100vh;

}
.title{
position: relative;
}
.title::before{
    content: "";
    width: 7px;
    height: 30px;
    background-color: #FEAF00;
    position: absolute;
    right:102%;
    top:0;
}